---
import Layout from '../layouts/Layout.astro'
import SectionHeader from '@/components/home/section-header.astro'
import SectionProducts from '@/components/home/section-products.astro'
import SectionHistory from '@/components/home/section-history.astro'
import SectionAboutUs from '@/components/home/section-about-us.astro'
export const prerender = true
---

<Layout
  title='Ecotecplast, aditivos 100% activos.'
  description='Somos una empresa enfocada en aditivos 100% activos para el plástico.'
>
  <main class='min-h-screen w-full overflow-hidden'>
    <SectionHeader />
    <SectionProducts />
    <SectionHistory />
    <SectionAboutUs />
  </main>
</Layout>
