---
import Layout from '../layouts/Layout.astro'
import SectionHeader from '@/components/home/section-header.astro'
import SectionProducts from '@/components/home/section-products.astro'
import SectionHistory from '@/components/home/section-history.astro'
import SectionAboutUs from '@/components/home/section-about-us.astro'
export const prerender = true
---

<Layout
  title='Ecotecplast aditivos para tus productos y procesos pl치sticos.'
  description='Somos una empresa enfocada en aditivos para el pl치stico, con m치s de 20 a침os de experiencia en el mercado.'
>
  <main class='min-h-screen w-full overflow-hidden'>
    <SectionHeader />
    <SectionProducts />
    <SectionHistory />
    <SectionAboutUs />
  </main>
</Layout>
