---
import Button from './Button.astro'
import MenuButton from './MenuButton.astro'
import Slider from './Slider.astro'
import NavList from './NavList.astro'
const { url } = Astro
const path = url.pathname
---

<nav
  id='nav-container'
  class='bg-secondary-900 fixed top-0 inset-x-0 z-40 transition-all duration-300 ease-in-out'
>
  <div
    class='mx-auto flex flex-row items-center justify-between max-w-7xl py-4 px-8 lg:px-2'
  >
    <a href='/' class='mr-auto'>
      <img
        src='/logo.png'
        alt='Ecotecplast Logo'
        class='inset-0 object-cover h-auto w-40'
      />
    </a>
    <ul class='gap-6 hidden items-center lg:flex'>
      <NavList />
      <li class='hidden lg:block'>
        <Button as='a' href='/contacto' active={path === '/contacto'}>
          Contacto
        </Button>
      </li>
    </ul>

    <li class='block lg:hidden'>
      <MenuButton />
    </li>
  </div>
  <Slider>
    <ul class='flex flex-col mt-24 px-4 gap-6'>
      <NavList />
      <li class='mt-4'>
        <Button as='a' href='/contacto' active={path === '/contacto'}>
          Contacto
        </Button>
      </li>
    </ul>
  </Slider>
</nav>

<script>
  let prevScrollY = 0
  const threshold = 150

  const showNavAfterScrollUp = () => {
    const scrollY = window.scrollY

    if (Math.abs(scrollY - prevScrollY) >= threshold) {
      const newScrollDirection = scrollY > prevScrollY ? 'down' : 'up'
      const navBar = document.getElementById('nav-container')
      if (newScrollDirection === 'up') {
        navBar?.classList.add('top-0')
        navBar?.classList.remove('-top-full')
      } else {
        navBar?.classList.add('-top-full')
        navBar?.classList.remove('top-0')
      }
      prevScrollY = scrollY > 0 ? scrollY : 0
    }
  }

  document.addEventListener('scroll', () => {
    showNavAfterScrollUp()
  })

  const hash = window.location.hash
  const navBar = document.getElementById('nav-container')
  const navLink = navBar?.querySelectorAll('a')
  const href = window.location.href
  const $menuButton = document.getElementById('menu-button')

  navLink?.forEach((link) => {
    link.addEventListener('click', () => {
      const isOpen = $menuButton?.classList.contains('open')
      if (isOpen) {
        $menuButton?.click()
      }
    })

    if (link.dataset.section === hash || href === link.href) {
      link.classList.add('text-white', 'font-bold')
      link.classList.remove('text-white/80', 'font-light')
    }
  })
</script>
