---
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='/logo.png' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/png' href='/logo.png' />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  @font-face {
    font-family: "Monsterrat";
    src: url("/fonts/Monsterrat.ttf") format("truetype");
  }
  html {
    font-family: system-ui, sans-serif;
    background: #d5e5d7;
  }
</style>
